$light: #ffe;
$red: #d00;

.ui-carousel {
  height: 18rem;
  animation: Gradient 8s linear infinite;
  background-image: linear-gradient(100deg, red, maroon, red);
  background-size: 400% 400%;
  margin-bottom: 2.8rem;
}

.carousel-wrapper {
  height: 100%;
}

.track-wrapper {
  height: 100%;
}

.track {
  height: 100%;
}

.carousel-item {
  height: 100%;
  text-align: center;
}

.carousel-item img {
  height: 90%;
  position: relative;
  top: 5%;
}

/* --- Carousel interface ------------------------------------------------------ */
/* ----------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------- */

.v-middle, .ui-carousel .carousel-btn {
  display: block;
  cursor: pointer;
}

.ui-carousel .carousel-next .carousel-btn,
.ui-carousel .carousel-prev .carousel-btn {
  font-size: 2rem;
  color: $light;
  opacity: 1;
  text-shadow: 0 0 3px $red;
}

.ui-carousel .carousel-next .carousel-btn {
  right: 0;
  z-index: 1;
}

.ui-carousel .carousel-prev .carousel-btn {
  left: 0;
  z-index: 1;
}

.carousel-dots {
  bottom: -3rem;
}

@media only screen and (min-width: 300px) {

}

@media only screen and (min-width: 500px) {
}

@media only screen and (min-width: 700px) {
}
