$red: #d00;

table {
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 5%;
}

.proj-prev > ul {
  display: block;
}

.proj-prev > img {
  width: 50%;
}

.proj-prev > img:hover {
  width: 52%;
}

.current-project img {
  width: 50%;
}

.current-project img:hover {
  width: 52%;
}

.project {
  width: 35%;
}

.project > span {
  font-size: 1.3em;
}

.carousel-item p {
  font-size: 1.5em;
}

