h1 {
  font-size: 2em;
  margin-bottom: 5%;
}

h2 {
  font-size: 1.7em;
}

p {
  font-size: 1.2em;
}

table {
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 5%;
}

/* --- WELCOME PAGE ------------------------------------------------------------ */
/* ----------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------- */
.w-char {
  font-size: 5rem;
}

.w-par {
  width: 50%;
}

/* ----------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------- */

.header {
  padding: 1%;
}

.nav-btn {
  padding: 1%;
}

.nav-btn:hover {
  padding: 2%;
}

.proj-prev > ul {
  display: block;
}

.proj-prev > img {
  width: 50%;
}

.proj-prev > img:hover {
  width: 52%;
}

.current-project img {
  width: 50%;
}

.current-project img:hover {
  width: 52%;
}

.project {
  width: 35%;
}

.project > span {
  font-size: 1.3em;
}

.carousel-item p {
  font-size: 1.5em;
}

