h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.7em;
}

p {
  font-size: 1.2em;
}

.header {
  padding: 1%;
}

.nav-btn {
  padding: 1%;
}

.nav-btn:hover {
  padding: 2%;
}

.proj-prev > ul {
  display: block;
}

.proj-prev > img {
  width: 50%;
}

.proj-prev > img:hover {
  width: 52%;
}

.proj-prev > div {
  display: inline-block;
}

.current-project > img {
  width: 50%;
}

.current-project > img:hover {
  width: 52%;
}

.project {
  width: 35%;
}

.project > span {
  font-size: 1.3em;
}

.welcome > p {
  font-size: 2.5em;
}
