html {
  font-size: 18px;
}

/* --- WELCOME PAGE ------------------------------------------------------------ */
/* ----------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------- */
.w-char {
  font-size: 5rem;
}

.w-par {
  margin: 2rem auto 0;
  width: 50%;
  height: 40vh;
  margin: 2rem auto 5rem;
}

/* ----------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------- */
