* {
  font-family: Georgia, serif;
}

body {
  margin: 0px;
}

input, button {
  border: none;
}

ul {
  list-style: none;
  overflow: hidden;
}

ul li::before {
  content: "\2022";
  color: blue;
  font-weight: bold;
  display: inline-block;
  width: 1em;
}

ul li {
  float: left;
}

h1 {
  color: blue;
  text-align: center;
  font-size: 1.5em;
  margin: 0.5em;
}

h2 {
  color: blue;
  text-align: center;
  font-size: 1.2em;
  margin: 0.5em;
}

p {
  margin: 2%;
  border-bottom: solid blue;
  padding-bottom: 5%;
}

.view {
  position: absolute;
  width: 100%;
  height: 100%;
}

.view.ng-enter,
.view.ng-leave {
  transition: all 1s ease;
}

.view.ng-enter {
  left: 100%;
  opacity: 0;
}

.view.ng-enter-active {
  left: 0%;
  opacity: 1;
}

.view.ng-leave {
  left: 0%;
  opacity: 1;
}

.view.ng-leave-active {
  left: -100%;
  opacity: 0;
}

.header {
  background-image: linear-gradient(#7B00BB, #004EFF);
  color: white;
  padding: 1em;
  height: 2em;
  margin-bottom: 5px;
}

.nav-btn {
  float: left;
  color: white;
  text-decoration: none;
  border: solid 1px white;
  padding: 2%;
  transition: padding 0.3s;
  margin: 1%;
}

.nav-btn:hover {
  padding: 3%;
}

.nav-btn:active {
  background-color: white;
  color: blue;
  border: solid 1px blue;
}

.project {
  width: 100%;
  margin-bottom: 5px;
  position: relative;
  text-decoration: none;
  display: block;
  color: black;
}

.project > img {
  width: 100%;
}

.proj-prev {
  opacity: 0;
  position: absolute;
  background-color: white;
  width: 100%;
  height: 100%;
  transition: opacity 0.5s;
  text-align: center;
}

.proj-prev > h2 {
  color: blue;
}

.proj-prev > img {
  width: 5em;
}

.current-project {
  text-align: center;
}

.current-project > img {
  width: 70%;
  box-shadow: 0px 0px 2px 2px blue;
  transition: box-shadow 0.5s, width 0.5s;
  cursor: pointer;
}

.current-project > img:hover {
  box-shadow: 0px 0px 2px 2px white;
  width: 72%;
}

.current-project > em {
  color: blue;
  text-align: center;
}

.current-project > button {
  border: solid 2px blue;
  color: blue;
  background-color: white;
  cursor: pointer;
  margin: 1%;
  margin-top: 5%;
  padding: 2%;
  transition: padding 0.3s;
}

.current-project > button:hover {
  padding: 3%;
}

.current-project > button:active {
  color: white;
  background-color: blue;
  border: solid 2px white;
}

.profile {
  text-align: center;
}

.profile > em {
  color: blue;
  font-size: 1.2em;
}

.profile > img {
  width: 90%;
}
