* {
  font-family: Georgia, serif;
}

body {
  margin: 0px;
}

input, button {
  border: none;
}

h1 {
  color: blue;
  text-align: center;
  font-size: 1.5em;
  margin: 0.5em;
}

.header {
  background-image: linear-gradient(#7B00BB, #004EFF);
  color: white;
  padding: 1em;
  height: 2em;
  margin-bottom: 5px;
}

.home {
  background-image: url('/images/home.png');
  background-size: contain;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  border: 1px solid white;
  float: left;
}

.home:hover {
  box-shadow: 0px 0px 1px 1px #00FFF6;
}

.project {
  width: 100%;
  margin-bottom: 5px;
  position: relative;
  text-decoration: none;
  display: block;
  color: black;
}

.project > img {
  width: 100%;
}

.proj-prev {
  opacity: 0;
  position: absolute;
  background-color: white;
  width: 100%;
  height: 100%;
  transition: opacity 0.5s;
  text-align: center;
}

.proj-prev > h2 {
  color: blue;
}

.proj-prev > ul {
  list-style: none;
  overflow: hidden;
}

.proj-prev > ul li {
  float: left;
}

.proj-prev > ul li::before {
  content: "\2022";
  color: blue;
  font-weight: bold;
  display: inline-block;
  width: 1em;
}

.proj-prev > img {
  width: 5em;
}

.current-project {
  text-align: center;
}

.current-project > img {
  width: 70%;
  box-shadow: 0px 0px 2px 2px blue;
  transition: box-shadow 0.5s;
  cursor: pointer;
}

.current-project > img:hover {
  box-shadow: 0px 0px 2px 2px white;
}

.current-project > p {
  margin: 2%;
}
