$red: #d00;

html {
  font-size: 20px;
}

table {
  font-size: 1.2em;
}

.btn {
  border: 2px solid $red;
  font-size: 1rem;
}

.btn:hover {
  padding: 0.8rem 0.4rem;
}

/* ----------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------- */

.project {
  width: 45%;
  vertical-align: top;
}

.contacts > p {
  font-size: 1.2em;
}

.profile > img {
  width: 70%;
}

.profile > p {
  border-bottom: 5px solid blue;
}

.proj-prev > ul {
  display: none;
}

.carousel-dots {
  display: inline-block;
}

.carousel-item p {
  font-size: 1.3em;
}

