$light: #ffe;
$red: #d00;
$cinzel: cinzel, "Times New Roman", serif;
$quattrocento: quattrocento, "Times New Roman", serif;

html {
  font-size: 20px;
}

ul li {
  display: contents;
}

table {
  font-size: 1.2em;
}

.btn {
  padding: 0.6rem;
  border: 2px solid $red;
}

.btn:hover {
  padding: 0.8rem;
  font-size: 1.3rem;
}

/* --- WELCOME PAGE ------------------------------------------------------------ */
/* ----------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------- */

.w-char {
  font-size: 3rem;
}

.w-par {
  width: 60%;
  text-align: justify;
  margin: 2rem auto 1rem;
}

.welcome .sn-icon:nth-of-type(2) {
  right: 4.2rem;
}

.welcome .sn-icon:last-of-type {
  right: 1.8rem;
}


/* ----------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------- */

.project {
  width: 45%;
  vertical-align: top;
}

.contacts > p {
  font-size: 1.2em;
}

.profile > img {
  width: 70%;
}

.profile > p {
  border-bottom: 5px solid blue;
}

.proj-prev > ul {
  display: none;
}

.carousel-dots {
  display: inline-block;
}

.carousel-item p {
  font-size: 1.3em;
}

