ul li {
  display: contents;
}

table {
  font-size: 1.2em;
}

/* --- WELCOME PAGE ------------------------------------------------------------ */
/* ----------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------- */

h1.w-char {
  font-size: 4.5rem;
}

.welcome > p {
  width: 60%;
  text-align: justify;
}

.welcome > a {
  font-size: 1.5rem;
}

/* ----------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------- */

.project {
  width: 45%;
  vertical-align: top;
}

.contacts > p {
  font-size: 1.2em;
}

.profile > img {
  width: 70%;
}

.profile > p {
  border-bottom: 5px solid blue;
}

.proj-prev > ul {
  display: none;
}

.carousel-dots {
  display: inline-block;
}

.carousel-item p {
  font-size: 1.3em;
}

