table {
  width: 90%;
}

p {
  margin: 5%;
}

/* --- WELCOME PAGE ------------------------------------------------------------ */
/* ----------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------- */
.w-char {
  font-size: 2.4rem;
}

.w-par {
  font-size: 1.3rem;
}

.btn {
  padding: 1rem;
  font-size: 1.8rem;
}

.btn:hover {
  padding: 1.4rem;
  font-size: 2rem;
}

/* ----------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------- */

.project {
  margin: 1%;
  width: 90%;
  display: inline-block;
}

.header {
  padding: 2%;
}

.proj-prev > img {
  width: 40%;
}

.proj-prev > img:hover {
  width: 42%;
}
