@keyframes Gradient {
  0% {background-position: 0% 50%}
  50% {background-position: 100% 50%}
  100% {background-position: 0% 50%}
}

* {
  font-family: Georgia, serif;
}

body {
  margin: 0px;
}

a {
  text-decoration: none;
}

input, button {
  border: none;
}

ul {
  list-style: none;
  overflow: hidden;
}

ul li::before {
  content: "\2022";
  color: blue;
  font-weight: bold;
  display: inline-block;
  width: 1em;
}

ul li {
  float: left;
}

h1 {
  color: blue;
  text-align: center;
  font-size: 1.5em;
  margin: 0.5em;
}

h2 {
  color: blue;
  text-align: center;
  font-size: 1.2em;
  margin: 0.5em;
}

p {
  margin: 2%;
  padding-bottom: 5%;
}

td, th {
  text-align: left;
  padding: 1%;
}

table {
  border-top: 2px solid blue;
  border-bottom: 2px solid blue;
  margin: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.view {
  position: absolute;
  background-color: white;
  left: 0;
  width: 100%;
  height: 100%;
}

.view.ng-enter,
.view.ng-leave {
  transition: all 10s ease;
}

.view.ng-enter {
  left: 100%;
  opacity: 0;
}

.view.ng-enter-active {
  left: 0%;
  opacity: 1;
}

.view.ng-leave {
  left: 0%;
  opacity: 1;
}

.view.ng-leave-active {
  left: -100%;
  opacity: 0;
}

.view button {
  border: solid 2px blue;
  color: blue;
  background-color: white;
  cursor: pointer;
  margin: 1%;
  margin-top: 5%;
  padding: 2%;
  transition: padding 0.3s;
}

.view button:hover {
  padding: 3%;
}

.view button:active {
  color: white;
  background-color: blue;
  border: solid 2px white;
}

.header {
  animation: Gradient 8s linear infinite;
  background-image: linear-gradient(to bottom right, blue, indigo, blue);
  background-size: 400% 400%;
  color: white;
  padding: 5%;
  overflow: hidden;
  margin-bottom: 1%;
}

.nav-btn {
  float: left;
  color: white;
  border: solid 1px white;
  padding: 2%;
  transition: padding 0.3s;
  margin: 1%;
}

.nav-btn:hover {
  padding: 3%;
}

.nav-btn:active {
  background-color: white;
  color: blue;
  border: solid 1px blue;
}

.project {
  width: 100%;
  margin-bottom: 5px;
  position: relative;
  display: block;
  color: black;
}

.project > em {
  color: blue;
  margin: 2%;
  display: block;
}

.project > img {
  width: 100%;
}

.proj-prev {
  opacity: 0;
  position: absolute;
  background-color: white;
  width: 100%;
  height: 100%;
  transition: opacity 0.5s;
  text-align: center;
}

.proj-prev > h2 {
  color: blue;
}

.proj-prev > img {
  width: 30%;
}

.current-project {
  text-align: center;
}

.current-project > img {
  width: 70%;
  box-shadow: 0px 0px 2px 2px blue;
  transition: box-shadow 0.5s, width 0.5s;
  cursor: pointer;
}

.current-project > img:hover {
  box-shadow: 0px 0px 2px 2px white;
  width: 72%;
}

.current-project > em {
  color: blue;
  text-align: center;
}

.current-project > p {
  border-bottom: solid blue;
}

.profile {
  text-align: center;
}

.profile > em {
  color: blue;
  font-size: 1.2em;
  margin-bottom: 5%;
  display: block;
}

.profile > img {
  width: 90%;
}

.profile > p {
  border-bottom: solid blue;
}

.contacts {
  text-align: center;
}

.contacts > p {
  padding-top: 2%;
}

.welcome {
  animation: Gradient 8s linear infinite;
  background-image: linear-gradient(to bottom right, blue, indigo, blue);
  background-size: 400% 400%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  text-align: center;
  opacity: 0.9;
}

.welcome > p {
  color: white;
  font-size: 1.5em;
  margin: 10%;
  padding-top: 5%;
}

.welcome > a {
  color: white;
  background: transparent;
  border: solid 1px white;
  padding: 2%;
  transition: padding 0.3s;
}

.welcome > a:hover {
  padding: 3%;
}
