@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/* line 7, ../../app/styles/mobile.scss */
* {
  font-family: Georgia, serif;
}

/* line 11, ../../app/styles/mobile.scss */
body {
  margin: 0px;
}

/* line 15, ../../app/styles/mobile.scss */
a {
  text-decoration: none;
}

/* line 19, ../../app/styles/mobile.scss */
input, button {
  border: none;
}

/* line 23, ../../app/styles/mobile.scss */
ul {
  list-style: none;
  overflow: hidden;
}

/* line 28, ../../app/styles/mobile.scss */
ul li::before {
  content: "\2022";
  color: blue;
  font-weight: bold;
  display: inline-block;
  width: 1em;
}

/* line 36, ../../app/styles/mobile.scss */
ul li {
  float: left;
}

/* line 40, ../../app/styles/mobile.scss */
h1 {
  color: blue;
  text-align: center;
  font-size: 1.5em;
  margin: 0.5em;
}

/* line 47, ../../app/styles/mobile.scss */
h2 {
  color: blue;
  text-align: center;
  font-size: 1.2em;
}

/* line 53, ../../app/styles/mobile.scss */
p {
  margin: 2%;
  padding-bottom: 5%;
}

/* line 58, ../../app/styles/mobile.scss */
td, th {
  text-align: left;
  padding: 1%;
}

/* line 63, ../../app/styles/mobile.scss */
table {
  margin: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: white;
}

/* line 70, ../../app/styles/mobile.scss */
footer {
  width: 100%;
  animation: Gradient 8s linear infinite;
  background-image: linear-gradient(to bottom right, blue, indigo, blue);
  background-size: 400% 400%;
}

/* line 77, ../../app/styles/mobile.scss */
.view {
  position: absolute;
  background-color: white;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}

/* line 86, ../../app/styles/mobile.scss */
.view.ng-enter,
.view.ng-leave {
  transition: all 1s ease;
}

/* line 91, ../../app/styles/mobile.scss */
.view.ng-enter {
  left: 100%;
  opacity: 0;
}

/* line 96, ../../app/styles/mobile.scss */
.view.ng-enter-active {
  left: 0%;
  opacity: 1;
}

/* line 101, ../../app/styles/mobile.scss */
.view.ng-leave {
  left: 0%;
  opacity: 1;
}

/* line 106, ../../app/styles/mobile.scss */
.view.ng-leave-active {
  left: -100%;
  opacity: 0;
}

/* line 111, ../../app/styles/mobile.scss */
.view button {
  border: solid 2px blue;
  color: blue;
  background-color: white;
  cursor: pointer;
  margin: 1%;
  margin-top: 5%;
  padding: 2%;
  transition: padding 0.3s;
}

/* line 122, ../../app/styles/mobile.scss */
.view button:hover {
  padding: 3%;
}

/* line 126, ../../app/styles/mobile.scss */
.view button:active {
  color: white;
  background-color: blue;
  border: solid 2px white;
}

/* line 132, ../../app/styles/mobile.scss */
.header {
  animation: Gradient 8s linear infinite;
  background-image: linear-gradient(to bottom right, blue, indigo, blue);
  background-size: 400% 400%;
  color: white;
  padding: 5%;
  overflow: hidden;
  margin-bottom: 1%;
}

/* line 142, ../../app/styles/mobile.scss */
.nav-btn {
  float: left;
  color: white;
  border: solid 1px white;
  padding: 2%;
  transition: padding 0.3s;
  margin: 1%;
}

/* line 151, ../../app/styles/mobile.scss */
.nav-btn:hover {
  padding: 3%;
}

/* line 155, ../../app/styles/mobile.scss */
.nav-btn:active {
  background-color: white;
  color: blue;
  border: solid 1px blue;
}

/* line 161, ../../app/styles/mobile.scss */
.project {
  width: 100%;
  margin-bottom: 5px;
  position: relative;
  display: block;
  color: black;
}

/* line 169, ../../app/styles/mobile.scss */
.project > span {
  color: white;
  padding: 2%;
  display: block;
  background-color: indigo;
  border-bottom: 3px solid blue;
}

/* line 177, ../../app/styles/mobile.scss */
.project > img {
  width: 100%;
}

/* line 181, ../../app/styles/mobile.scss */
.proj-prev {
  opacity: 0;
  position: absolute;
  background-color: white;
  width: 100%;
  height: 100%;
  transition: opacity 0.5s;
  text-align: center;
  overflow: hidden;
}

/* line 192, ../../app/styles/mobile.scss */
.proj-prev > img {
  width: 30%;
  transition: box-shadow 0.3s, width 0.3s;
}

/* line 197, ../../app/styles/mobile.scss */
.proj-prev > img:hover {
  width: 32%;
  box-shadow: 0px 0px 2px 2px blue;
}

/* line 202, ../../app/styles/mobile.scss */
.proj-prev > p {
  padding-bottom: 0;
}

/* line 206, ../../app/styles/mobile.scss */
.proj-prev > h2 {
  margin-top: 0;
  color: blue;
  padding: 1%;
  border-bottom: 2px solid blue;
}

/* line 213, ../../app/styles/mobile.scss */
.proj-prev > ul {
  border-top: 2px solid blue;
  padding-top: 2%;
}

/* line 218, ../../app/styles/mobile.scss */
.current-project {
  text-align: center;
}

/* line 222, ../../app/styles/mobile.scss */
.current-project img {
  margin-top: 1%;
  width: 70%;
  box-shadow: 0px 0px 2px 2px blue;
  transition: box-shadow 0.5s, width 0.5s;
  cursor: pointer;
}

/* line 230, ../../app/styles/mobile.scss */
.current-project img:hover {
  box-shadow: 0px 0px 2px 2px white;
  width: 72%;
}

/* line 235, ../../app/styles/mobile.scss */
.current-project > em {
  color: blue;
  text-align: center;
}

/* line 240, ../../app/styles/mobile.scss */
.current-project > p {
  border-bottom: solid blue;
}

/* line 244, ../../app/styles/mobile.scss */
.profile {
  text-align: center;
}

/* line 248, ../../app/styles/mobile.scss */
.profile > em {
  color: blue;
  font-size: 1.2em;
  margin-bottom: 5%;
  display: block;
}

/* line 255, ../../app/styles/mobile.scss */
.profile > img {
  width: 90%;
}

/* line 259, ../../app/styles/mobile.scss */
.profile > p {
  border-bottom: solid blue;
}

/* line 263, ../../app/styles/mobile.scss */
.profile a {
  display: inline-block;
  border: solid 2px white;
  color: white;
  cursor: pointer;
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 2%;
  transition: padding 0.3s;
}

/* line 274, ../../app/styles/mobile.scss */
.profile a:hover {
  padding: 3%;
}

/* line 278, ../../app/styles/mobile.scss */
.contacts {
  text-align: center;
}

/* line 282, ../../app/styles/mobile.scss */
.contacts > p {
  padding-top: 2%;
}

/* line 286, ../../app/styles/mobile.scss */
.welcome {
  animation: Gradient 8s linear infinite;
  background-image: linear-gradient(to bottom right, blue, indigo, blue);
  background-size: 400% 400%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  text-align: center;
  opacity: 0.9;
}

/* line 299, ../../app/styles/mobile.scss */
.welcome > p {
  color: white;
  font-size: 1.5em;
  margin: 10%;
  padding-top: 5%;
}

/* line 306, ../../app/styles/mobile.scss */
.welcome > a {
  color: white;
  background: transparent;
  border: solid 1px white;
  padding: 2%;
  transition: padding 0.3s;
}

/* line 314, ../../app/styles/mobile.scss */
.welcome > a:hover {
  padding: 3%;
}

/* line 318, ../../app/styles/mobile.scss */
.ui-carousel
.carousel-btn {
  opacity: 1;
  font-size: 3em;
  color: white;
}

/* line 325, ../../app/styles/mobile.scss */
.ui-carousel
.carousel-btn:active {
  background-color: transparent;
  border: none;
}

/* line 331, ../../app/styles/mobile.scss */
.ui-carousel
.carousel-next
.carousel-btn {
  reght: 0;
}

/* line 337, ../../app/styles/mobile.scss */
.ui-carousel
.carousel-prev
.carousel-btn {
  left: 0;
}

.ui-carousel
.track-wrapper {
  top: -3em;
}

/* line 343, ../../app/styles/mobile.scss */
.carousel-dots {
  position: static;
  display: none;
}

/* line 348, ../../app/styles/mobile.scss */
.carousel-dots li {
  position: static;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  float: none;
}

/* line 355, ../../app/styles/mobile.scss */
.carousel-dots li:before {
  content: none;
}

/* line 359, ../../app/styles/mobile.scss */
.carousel-dots li button {
  font-size: 1.5em;
  line-height: 1.5em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

/* line 366, ../../app/styles/mobile.scss */
.carousel-dots li button:before {
  content: "\2022";
  color: blue;
  font-weight: bold;
  display: inline-block;
  width: 1.5em;
  position: static;
  font-size: 2em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  opacity: 1;
  transition: font-size 0.2s;
}

/* line 380, ../../app/styles/mobile.scss */
.carousel-dots li button:active {
  color: white;
  background-color: transparent;
  border: none;
}

/* line 386, ../../app/styles/mobile.scss */
.carousel-dots li.carousel-active button:before {
  font-size: 3em;
  opacity: 1;
}

/* line 391, ../../app/styles/mobile.scss */
.carousel-item > div {
  animation: Gradient 8s linear infinite;
  background-image: linear-gradient(to bottom right, blue, indigo, blue);
  background-size: 400% 400%;
  color: white;
}

/* line 398, ../../app/styles/mobile.scss */
.carousel-item p {
  margin: 5%;
  margin-bottom: 0;
  padding-top: 1em;
}

/* line 403, ../../app/styles/mobile.scss */
.contacts > div {
  animation: Gradient 8s linear infinite;
  background-image: linear-gradient(to bottom right, blue, indigo, blue);
  background-size: 400% 400%;
  display: flex;
}
