$light: #ffe;
$red: #d00;
$cinzel: cinzel, "Times New Roman", serif;
$quattrocento: quattrocento, "Times New Roman", serif;

table {
  width: 90%;
}

p {
  margin: 5%;
}

/* --- WELCOME PAGE ------------------------------------------------------------ */
/* ----------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------- */
.w-char {
  font-size: 2.4rem;
}

.w-par {
  font-size: 1.3rem;
}

/* ----------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------- */

.project {
  margin: 1%;
  width: 90%;
  display: inline-block;
}

.header {
  padding: 2%;
}

.proj-prev > img {
  width: 40%;
}

.proj-prev > img:hover {
  width: 42%;
}
