$red: #d00;

.current-project em {
  color: $red;
}

.current-project ul {
  margin-bottom: 1.8rem;
}

.buttons-container {
  text-align: center;
  padding-bottom: 2rem;
}

.buttons-container a {
  font-weight: bold;
  border: 2px solid $red;
}
