$light: #ffe;
$red: #d00;
$frame-dark: #983;

#projects {
  text-align: center;
}

/* --- Single project item ----------------------------------------------------- */
/* ----------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------- */
.project {
  display: block;

  // Dimentions equal to view width;
  min-width: 94vw;
  min-height: 94vw;

  overflow: hidden;
  position: relative;
  margin-bottom: 1rem;
  box-shadow: 0 2px 3px $frame-dark;
}

.project > img {
  width: 100%;
}

.proj-prev {
  background-color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.proj-prev > h2 {
  background-color: $red;
  color: $light;
}

.proj-prev > p {
  font-weight: bold;
  border-bottom: solid 1px $red;
  padding: 0 0.4rem 0.6rem;
}

img.min {
  display: none;
}

.proj-prev > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  padding-top: 1rem;
  border-top: solid 1px $red;
}

.proj-prev > ul > li {
  margin-right: 0.4rem;
}

.proj-prev > ul > li::before {
  content: "\25C6";
  color: $red;
  margin-right: 0.4rem;
}

/* ----------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------- */

@media only screen and (min-width: 300px) {
  img.min {
    display: inline;
    width: 50%;
    margin: 0.2rem 0;
  }

  .proj-prev > p {
    padding: 0 0.4rem 0.6rem;
    margin-bottom: 0.2rem;
  }
}

@media only screen and (min-width: 500px) {
}

@media only screen and (min-width: 700px) {
}
