$light: #ffe;
$red: #d00;
$frame-dark: #983;

.project {
  display: block;
  // Dimentions equal to view width;
  width: 94vw;
  height: calc(94vw + 1.6rem);

  overflow: hidden;
  position: relative;
  margin: 0 auto 1rem;
  box-shadow: 0 2px 3px $frame-dark;
  text-align: center;
}

.project > h2 {
  background-color: $red;
  color: $light;
  position: sticky;
  z-index: 2;
  height: 1.6rem;
  overflow: hidden;
}

.project > img {
  width: 100%;
}

.proj-prev {
  background-color: white;
  position: absolute;
  top: 1.6rem;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateY(-100%);
  transition: transform 0.8s ease-out;
  overflow: hidden;
}

.project:hover > .proj-prev {
  transform: translateY(0);
}

.proj-prev > p {
  font-weight: bold;
  border-bottom: solid 1px $red;
  padding: 0 0.4rem 0.6rem;
}

img.min {
  display: none;
}

.proj-prev > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  padding-top: 1rem;
  border-top: solid 1px $red;
}

.proj-prev > ul > li {
  margin-right: 0.4rem;
}

.proj-prev > ul > li::before {
  content: "\25C6";
  color: $red;
  margin-right: 0.4rem;
}

.fiddle {
  border: solid 1px $frame-dark;
  padding: 1rem;
  margin-bottom: 1rem;
}

.fiddle h2 {
  color: $red;
  display: inline;
}

.fiddle i {
  color: $red;
  margin-left: 0.6rem;
}

@media only screen and (min-width: 300px) {
  .project {
    width: 80vw;
    height: calc(80vw + 1.6rem);
  }

  .project > h2::before,
  .project > h2::after, {
    content: '';
    width: 1.2rem;
    height: 1.2rem;
    margin: 0.2rem;
    background-image: url(/images/decor/flower-light.png);
    background-size: contain;
    background-repeat: no-repeat;
  }

  .project > h2::before {
    float: left;
  }

  .project > h2::after {
    float: right;
  }

  .proj-prev > p {
    margin-bottom: 0.2rem;
  }

  img.min {
    display: inline;
    width: 40%;
    margin: 0.4rem 0;
  }
}

@media only screen and (min-width: 500px) {
  #projects > section {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 1rem;
  }

  #projects > section:nth-child(3) {
    display: block;
  }

  section > h1,
  section > h2 {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .project {
    width: 100%;
    height: calc(100% - 1.4rem);
    box-shadow: 0 4px 6px $frame-dark;
  }

  .project > h2::before,
  .project > h2::after, {
    display: none;
  }

  .proj-prev > p {
    margin-bottom: 1rem;
    border-bottom: solid 2px $red;
  }

  img.min {
    display: none;
  }

  .proj-prev > ul {
    border-top: solid 2px $red;
  }

  .fiddle {
    border: solid 2px $frame-dark;
  }
}

@media only screen and (min-width: 700px) {
  #projects > section {
    grid-gap: 1.6rem;
  }

  .project > h2::before,
  .project > h2::after, {
    display: inline-block;
  }

  .proj-prev > p {
    margin: 1rem 0.4rem 0.2rem;
  }

  img.min {
    display: inline;
    margin: 0;
  }

  .proj-prev > ul {
    margin: 0 0.6rem;
  }
}
