<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Arman Yerkesh portfolio</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" />
    <link rel="stylesheet" href="node_modules/@fortawesome/fontawesome-free/css/all.css" />
    <link rel="stylesheet" href="node_modules/angular-ui-carousel/dist/ui-carousel.min.css" />
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angular-ui-carousel/dist/ui-carousel.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/*.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/welcome.css">
    <link rel="stylesheet" href="styles/header.css">
    <link rel="stylesheet" href="styles/view.css">
    <link rel="stylesheet" href="styles/summary.css">
    <link rel="stylesheet" href="styles/projects.css">
    <link rel="stylesheet" href="styles/project.css">
    <link rel="stylesheet" href="styles/carousel.css">
    <!-- endbuild -->
  </head>
  <div class="welcome">
    <h1 class="w-char" data-index="1">W</h1>
    <h1 class="w-char" data-index="2">e</h1>
    <h1 class="w-char" data-index="3">l</h1>
    <h1 class="w-char" data-index="4">c</h1>
    <h1 class="w-char" data-index="5">o</h1>
    <h1 class="w-char" data-index="6">m</h1>
    <h1 class="w-char" data-index="7">e</h1>
    <h1 class="w-char" data-index="8">!</h1>
    <p class="w-par">My name is Arman Yerkesh, I am a Front-End developer graduated from Udacity in 2018. I have experience working with Angular, React, Bootstrap, TypeScript, NodeJS and other modern frameworks. I am interested in adaptive interfaces, data visualization technologies and data security. Currently i focus on in-depth study of HTML, CSS and JavaScript. </br> On this website you can find my portfolio, resume, contact details and links to my GitHub and LinkedIn profiles.</p>
    <ul class="spinner">
      <li></li>
      <li></li>
      <li></li>
    </ul>
    <a id="continue-btn" class="btn" ng-href="#!/">Continue</a>
    <a class="sn-icon" href="https://github.com/A-Yerkeshev" target="_blank"><i class="fab fa-github"></i></a>
    <a class="sn-icon" href="https://www.linkedin.com/in/arman-yerkesh-29b8a7165/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
  </div>
  <body ng-app="portfolioApp">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <header>
      <div class="top-container">
        <a class="sn-icon" href="https://github.com/A-Yerkeshev" target="_blank"><i class="fab fa-github"></i></a>
        <ul class="header-decor">
          <li class="ornament-head"></li>
          <li><a href="/"><img class="logo" src="/images/logo.png" alt="logo image"></a></li>
          <li class="ornament-head"></li>
        </ul>
        <a class="sn-icon" href="https://www.linkedin.com/in/arman-yerkesh-29b8a7165/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
      </div>
      <nav>
        <a class="nav-btn btn" ng-href="#!/projects" ng-click="setCurrentProject(null)">Projects</a>
        <a class="nav-btn btn" ng-href="#!/education" ng-click="setCurrentProject(null)">Education</a>
        <a class="nav-btn btn" ng-href="#!/contacts" ng-click="setCurrentProject(null)">Contacts</a>
        <a class="nav-btn btn" href="/downloads/Arman-Yerkeshev-resume.pdf" download>Resume<i class="fa fa-download" aria-hidden="true"></i></a>
      </nav>
    </header>
    <ng-view class="view"></ng-view>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-ui-carousel/dist/ui-carousel.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/services/ProjectsFactory.js"></script>
        <script src="scripts/controllers/ProjectsController.js"></script>
        <script src="scripts/directives/ProjectDirective.js"></script>
        <script src="scripts/directives/FiddleDirective.js"></script>
        <script src="scripts/onload.js"></script>
        <!-- endbuild -->
    <!-- templates -->
    <template id="project-directive-tmpl">
      <a class="project" ng-href="#!/{{project.href}}" ng-click="setCurrentProject(project)">
        <h2>{{project.name}}</h2>
        <div class="proj-prev">
          <p>{{project.title}}</p>
          <img class="min" ng-src="/images/minified/{{project.href}}-1.png">
          <ul class="rombus">
            <li ng-repeat="tech in project.technologies">{{tech}}</li>
          </ul>
        </div>
        <img ng-src="/images/minified/{{project.images[0]}}" onLoad="expandImage(event)">
      </a>
    </template>
    <template id="fiddle-directive-tmpl">
      <div class="fiddle">
        <a href="{{fiddle.url}}" target="_blank"><h2>{{fiddle.name}}</h2><i class="fas fa-external-link-alt"></i></a>
        <p>{{fiddle.description}}</p>
      </div>
    </template>
</body>
</html>
