<div class="education">
  <h1>Education</h1>
  <section class="ed-unit">
    <h2>Udacity Full Stack Web Developer Nanodegree</h2>
    <em>Nov 2017 - Jun 2018</em>
    <img src="/images/minified/Udacity.jpg" onLoad="expandImage(event)" alt="udacity-certificate">
    <p>Udacity is the online school founded by Stanford instructor Sebastian Thrun with the mission to democratize education. Catalogue of courses includes programs like Artificial Intelligence, Machine Learning, Robotics Software, etc. Course curriculum is designed in a way to give students solid IT foundation, give overview of leading technologies used in the industry, encourage student to experiment and find information independently, and to give practical experience of solving challenges and working on projects. Udacity partners with leading technology companies such as Google, Microsoft, IBM, Intel, and others.</p>
  </section>
  <section class="ed-unit">
    <h2>Javascript Algorithms And Data Structures Certification</h2>
    <em>Jan 2019 - Apr 2019</em>
    <img src="/images/minified/freeCodeCamp.jpg" onLoad="expandImage(event)" alt="freecodecamp-certificate">
    <p>FreeCodeCamp is a nonprofit online community that provides education in the IT field. It was started in 2014 by Quincy Larson. Curriculum of freeCodeCamp includes courses like Responsive Web Design, Front End Libraries, Data Visualization, Data Analysis, Information Security, Machine Learning and more. Course consists of several complicated tasks that student needs to solve before graduation. Course provides comprehensive education materials, but also encourages student to search for answers independently. Alumni of freeCodeCamp includes over 131 000 people.</p>
  </section>
  <section class="ed-unit">
    <h2>Vocational Qualification in Business</h2>
    <em>Jan 2020 - May 2021</em>
    <img src="/images/minified/Careeria.png" onLoad="expandImage(event)" alt="careeria-certificate">
    <p>This is my first education, completed in Finland. I received a certificate from Careeria in June 2021. This education is not really relevant to IT field, but it makes the process of my employment on the territory of Finland easier for the employer. I can be issued with a work permit in Finland without a <a href="https://migri.fi/en/faq-students">labour market test</a>.</p>
  </section>
  <section class="ed-unit">
    <h2>Vocational Qualification in Information and Communications Technology</h2>
    <em>Aug 2021 - present</em>
    <img src="/images/minified/Keuda.png" onLoad="expandImage(event)" alt="keuda-certificate">
    <p>Keuda is a Finnish Vocational Education and Training provider, consortium with 10 campuses, in various towns, located within 30-80 kilometers to the north of Helsinki. Keuda is the 6th biggest vocational education and training provider in Finland. I am currently enrolled to IT course there with combined mode of teaching. It gives good amount of flexibility and encourages students to study independently, not limited to the scope of classwork. Course curriculum includes fundamental studies of computer science, as well as practical application of this knowledge when working on projects.</p>
  </section>
  <section>
    <h1>Skills</h1>
    <ul class="rombus">
      <li>JavaScript</li>
      <li>Angular</li>
      <li>React</li>
      <li>NodeJS</li>
      <li>Python</li>
      <li>HTML</li>
      <li>CSS</li>
      <li>Bootstrap</li>
      <li>TypeScript</li>
      <li>Express</li>
      <li>Stripe</li>
      <li>Three.js</li>
      <li>JQuery</li>
      <li>Jest</li>
      <li>KnockoutJS</li>
      <li>Axios</li>
      <li>AnimeJS</li>
      <li>Jasmine</li>
      <li>Grunt</li>
      <li>Flask</li>
      <li>SQLAlchemy</li>
      <li>Postgres</li>
      <li>Git/GitHub</li>
    </ul>
  </section>
</div>
