<div class="profile">
  <h1>Arman Yerkesh</h1>
  <em>Front-end Web Developer</em>
  <p>Good day. I am a graduated from Udacity Front-end web developer. Eager to apply my skills to the development of web projects and to work in the collaboration with the team of developers. Currently I am working mainly with JavaScript and AngularJS, focusing on providing more functional and interactive interfaces for the websites. I am exited to explore deeper the area of web development and user experience. My great passion and ability to learn are useful skills for exploring new programming languages, frameworks, and technologies.<br>
    <button ng-click="newTab('https://www.linkedin.com/in/arman-yerkesh-29b8a7165/')">LinkedIn</button>
    <button ng-click="newTab('https://github.com/A-Yerkeshev')">GitHub</button>
  </p>
  <h2>Skills</h2>
  <ul>
    <li>JavaScript</li>
    <li>Python</li>
    <li>HTML</li>
    <li>CSS</li>
    <li>AngularJS</li>
    <li>JQuery</li>
    <li>KnockoutJS</li>
    <li>AnimeJS</li>
    <li>Jasmine</li>
    <li>Grunt</li>
    <li>Flask</li>
    <li>SQLAlchemy</li>
    <li>Git/GitHub</li>
  </ul>
  <p></p>
  <h2>Certificates</h2>
  <img src="/images/certificate.jpg"><br>
  <em>Udacity Full Stack Web Developer Nanodegree (Feb 2018 - Jun 2018)</em>
  <img src="/images/freeCodeCamp.jfif"><br>
  <em>Javascript Algorithms And Data Structures Certification (in progress)</em>
  <footer>
    <a href="/downloads/Arman-Yerkesh-resume.pdf" download>Download resume PDF</a>
  </footer>
</div>
