<div ng-controller="ProjectsController" class="current-project">
  <h1>{{currentProject.name}}</h1>
  <ui-carousel slides="currentProject.images">
    <carousel-item>
      <img src="{{item}}">
    </carousel-item>
  </ui-carousel>
  <em>{{currentProject.date}}</em>
  <p>{{currentProject.description}}</p>
  <h2>Technologies used</h2>
  <ul>
    <li ng-repeat="tech in currentProject.technologies">{{tech}}</li>
  </ul>
  <button ng-if="currentProject.url" ng-click="newTab(currentProject.url)">Visit website</button>
  <button ng-click="newTab(currentProject.github)">View on GitHub</button>
</div>
