<h1>What i can do for you?</h1>
<ol class="summary-list">
  <li>
    <details>
      <summary>Build responsive webpages;</summary>
      <p>I can build webpages with layout, that can resize and behave differently depending on which device the customer is using. This assures, that your company is not loosing a sale just because the customer have used a different device and found interface too unfriendly to use.
      </p>
    </details>
  </li>
  <li>
    <details>
      <summary>Collect and analyze customer data;</summary>
      <p>I can track users' activity on the page - what product is the most searched? How did customer find out about your website? How much time they spend browsing different categories of products? This data can significantly improve the efficiency of your marketing.
      </p>
    </details>
  </li>
  <li>
    <details>
      <summary>Fetch information from external sources;</summary>
      <p>I can retrieve the data from third-party sources, like Wikipedia, NASDAQ or Google Maps. Some services, like weather forecasting absolutely need it. Other services can provide better customer experience with the help of the external data.
      </p>
    </details>
  </li>
  <li>
    <details>
      <summary>Customize layout based on users' preferences;</summary>
      <p>I can personalize the website layout based on customers' activity. I can display most relevant products on the home page; show customer relevant news and offers; allow him to modify the interface according to own needs. This contributes to long-lasting, personified relationships with the customer.</p>
    </details>
  </li>
  <li>
    <details>
      <summary>Protect website from XSS attacks;</summary>
      <p>XSS is a common way of hacking a website, when hacker includes malicious script into your webpage. By doing that, the hacker can gain access to sensitive data about your customers and your company, can make purchases in internet on your behalf. I can add Front-end layer of protection to your website, to ensure that malicious script is not executed or sent to the server</p>
    </details>
  </li>
  <li>
    <details>
      <summary>Add support for older browsers;</summary>
      <p>I can ensure, that your website is properly displayed and working, even if the customer is using an outdated version of browser. Also, i can test your website for cross-browser compatibility. This helps your product to reach larger audience and not lose a sale just because the client did not update his browser.</p>
    </details>
  </li>
</ol>
.
